html{
   scroll-behavior: smooth;
}

body {
  font-family: Orbitron, sans-serif;
  background-color: black;
  margin:0;
  padding: 0;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:blue; 
  border-radius: 20px;
  border: 1px groove lightblue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkblue; 
}

path {
  transition: stroke-dashoffset 500ms ease-in-out;
}


.container {
  position: absolute;
  top: 30vh;
  left: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: position 1s ease-in;
}

.container-navbar{
  height:auto;
  width: 100%;
  padding:0;
  position:absolute;
  top:0;
  left:0;
  display: block;
  transition: top 1s ease-in, left 1s ease-in;
}
.letter {
  fill:none; 
  stroke-width:12px;
  stroke:#606060; 
  stroke-linecap: square; 
  stroke-linejoin: square;
}
#container svg{
  height: 70px;
  width: 500px;
  padding: 1em;
  transition: all 1s ease-in;
}

@media screen and (max-width: 650px) {
  #container svg{
    width: 250px;
  }
}


#title {
  display: block;
  color: #606060;
  text-align: center;
  transition: opacity 1500ms ease-in;
}

.hide {
  opacity:0;
}

.show {
  opacity: 1;
}
.navbar {
  display:flex;
  width:100%;
  justify-content: space-between;
  align-items: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in;
  border-bottom: 2px solid #606060;
  position: sticky;
  top: 0;
  z-index: 1;
  background: black;
}
.navbar-show{
  max-height: 10vh;
}
.nav-links {
  display: flex;
  list-style-type: none;
}

.nav-link{
  margin:0 2rem;
}
.nav-link a{
  font-size: 1rem;
  text-decoration: none;
  color: white;
  transition: font-size 300ms ease-in;
}
.nav-link a:hover{
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.nav-home a{
  font-size: 3rem;
  text-decoration: none;
  padding: 2%;
  color: white;
  transition: font-size 250ms ease-in-out;
}
.nav-icon {
  display: none !important;
  color: white;
}
.fa-bars {
  color: #606060;
  margin: 0 2rem;
  padding: 0.5rem;
  border: 1px solid #606060;
  border-radius: 25%;
  transition: all 500ms ease-in-out;
}
.fa-bars:hover{
  color: white;
  margin: 0 2rem;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 25%;
  background-color: #606060;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .nav-nav {
    display: none;
    transition: all 1s ease-in-out;
    max-height: 0;}
  .nav-icon {
    display: inline !important;
  }
}
.expanded {
  position: fixed;
  top: 10vh;
  right: 0;
  max-height: none;
  display: block;
  height: fit-content;
  background: black;
  z-index: -1;
}
.expanded .nav-links {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.about-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-wrap: wrap;
}
.about{
  display: flex;
  flex-wrap: wrap;
  width:100vw;
  overflow: hidden;
  transition: left 2s ease-in-out;
  margin-bottom: 50px;
}

.glasses {
  width: 100%;
  height: 100%;
  position: relative;
  left:0;
  transition: all 1s cubic-bezier(.5, .5, .5, .5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.glasses h1 {
  width: 75%;
  text-align: center;
  text-shadow: 2px 2px grey;
  padding: 10vh 0;
}
.glasses svg {
  padding: 0;
  filter: none;
}

.section {
  position:relative;
  left: 100%;
}
.Projects{
  width:100vw;
  height: 75vh;
  overflow: hidden;
  display: block;
}
.blocks {
  width: 100%;
  position: relative;
  top:0;
  left:0;
  transition: left 500ms cubic-bezier(.5, .5, .5, .5), opacity 250ms cubic-bezier(0.5, 0.5, 0.5, .5);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

.blocks p {
  color: white;
  font-size:150%;
  width: 90%;
  text-shadow: 2px 2px 2px #505050;
  align-content: center;
}
.section-even {
  left: -100%;
}
@media only screen and (max-width: 650px){
  .blocks {
    flex-direction: column;
  }
}
.section-odd{
  left: 100%;
}
#scroll {
  position: relative;
  animation: point 1s ease-in-out;
  animation-direction: alternate;
}

.socials {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  color: white;
  display: flex;
  width: 20%;
  height: 10%;
  justify-content: flex-end;
  align-items: flex-end;
}
.socials a {
  padding: 10px;
  text-decoration: none;
  color: white;
}

.socials .fa-twitter {
  color: #1DA1F3;

}

.socials .fa-linkedin {
  color: #0A66C2;
}

.profileImg {
  background-image: url("./Profile_Pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex: 1 1 400px;
  justify-content: center;
  text-align: center;
  text-shadow: 1px 1px white;
  height: 75vh;
}

.profileImg .top-left{
  position: relative;
  font-size: 30px;
  top:0;
  left: 0;
  width: 95%;
}

.skills {
  flex: 1 1 400px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.skills h1 {
  color: #606060;
  width: 100%;
}
.skills span {
  flex: 1 1 30%;
}
.fab {
  padding: 1rem;
}
.fa-html5 {
  color: #FD7E14;
}
.fa-css3-alt {
  color: #1579B8;
}
.fa-js{
  color: #EFD81D;
}
.fa-node-js{
  color: #58A644;
}
.fa-python{
  color: #3276AE;
}
.fa-react{
  color: #00D1F7;
}

.footer {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer h1{
  color: blue;
  width: 75%;
}
@keyframes point {
  from {
    transform: translate(0, 0)
  }
  to {
    transform: translate(0, 10px)
  }
}
.Proj-container {
  color: blue;
}
.Proj-container h1 {
  text-shadow: 1px 1px lightblue;
  width: 100%;
  text-align: center;
  text-decoration: underline;
}
.Projects{
  display: flex;
  justify-content: center;
}

.projectblock {
color: white;
display: flex;
flex-direction: column;
width: 30%;
padding: 1%;
align-items: center;
}
@media screen and (max-width: 900px){
  .projectblock {
    flex-grow: 1;
  }
}
.projectblock h3 {
  font-size: 25px;
  text-align: center;
  padding: 0;
  margin: 0;
}
.projectblock video {
  width: 90%;
  height: 150px;
  border: 1px solid white;
  border-radius: 15px;
}
.projectblock a {
  color: white;
  text-decoration: none;
}
.Websites {
  font-size: 25px;
  background: blue;
  text-shadow: 1px 1px black;
  width: 100%;
  text-align: center;
  margin: 4px 0;
}
.Githubs {
  font-size: 25px;
  background: #c9510c;
  text-shadow: 1px 1px black;
  width: 100%;
  text-align: center;
    margin: 4px 0;
}
.form-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-row {
  width: 60%;
  border-radius: 10px;
  font-size: 20px;
  margin: 2px;
  text-align: center;
}

.form-row-button {
  margin: 2px;
  font-size: 25px;
  width: 40%;
  border-radius: 20px;
  background-color: blue;
  color: white;
}